@font-face {
  font-family: 'JetBrains Mono';
  src: url('../public/fonts/JetBrains\ Mono\ Variable\ Font.woff')
    format('woff2-variations');
  src: url('../public/fonts/JetBrains\ Mono\ Variable\ Font.woff')
    format('woff2') tech('variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-400 font-serif text-base font-bold leading-none text-dark-100 sm:text-lg;
}
svg {
  fill: currentColor;
}
